.author-inst {
	margin: 5% ;
	text-align: center;
	h2 {
		color: var(--color-h);
		margin: 1%;
	}
	p {
		margin: 2%;
		font-size: 18px;
		letter-spacing: 2px;
	}
	.foto-gallery {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		grid-template-rows: auto;
		gap: 50px;
		justify-content: center;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.btn-catalog {
		margin: 5% 0;
		a {
			padding: 15px 50px;
			border: 1px solid;
			background-color: var(--color-h);
			color: #fff;
		}
	  }
}