.catalog {
  text-align: center;
  border-bottom: 2px solid var(--color-h);
  .header-text-catalog {
	h2 {
		color: var(--color-h);
		padding: 2%;
	}
	p {
		font-size: 18px;
		padding: 0 25% 2%;
		line-height: 2;
	}
  }
  .intro-catalog {
    display: grid;
    grid-template-areas:
      "card-1  card-2 card-2"
      "card-1 card-3 card-4";
    justify-content: center;
    img {
      background-size: cover;
    }
    .card-1 {
      grid-area: card-1;
      .card-info {
        margin: -2% 4% 0;
        padding: 5%;
        border: 5px double var(--color-h);

        .num {
          margin-bottom: 2%;
          span {
            color: var(--color-h);
          }
        }
        .name-apparts {
          margin-bottom: 3%;
          color: var(--color-h);
        }
        .price {
          font-weight: bold;
          margin-bottom: 5%;
          p::after {
            content: url(/images/png/Vector\(1\).png);
            margin-left: 4%;
          }
        }
        .parametres {
          display: flex;
          justify-content: center;
          li {
            margin: 0 5%;
          }
        }
      }
    }
    .card-2 {
      grid-area: card-2;
	  .card-info {
        margin: -2% 2% 0;
        padding: 3%;
        border: 5px double var(--color-h);

        .num {
          margin-bottom: 2%;
          span {
            color: var(--color-h);
          }
        }
        .name-apparts {
          margin-bottom: 2%;
          color: var(--color-h);
        }
        .price {
          font-weight: bold;
          margin-bottom: 3%;
          p::after {
            content: url(/images/png/Vector\(1\).png);
            margin-left: 4%;
          }
        }
        .parametres {
          display: flex;
          justify-content: center;
          li {
            margin: 0 5%;
          }
        }
      }
    }
    .card-3 {
      grid-area: card-3;
	  .card-info {
        margin: -2% 4% 0;
        padding: 5%;
        border: 5px double var(--color-h);

        .num {
          margin-bottom: 2%;
          span {
            color: var(--color-h);
          }
        }
        .name-apparts {
          margin-bottom: 3%;
          color: var(--color-h);
        }
        .price {
          font-weight: bold;
          margin-bottom: 5%;
          p::after {
            content: url(/images/png/Vector\(1\).png);
            margin-left: 4%;
          }
        }
        .parametres {
          display: flex;
          justify-content: center;
          li {
            margin: 0 5%;
          }
        }
      }
    }
    .card-4 {
      grid-area: card-4;
	  .card-info {
        margin: -2% 4% 0;
        padding: 5%;
        border: 5px double var(--color-h);

        .num {
          margin-bottom: 2%;
          span {
            color: var(--color-h);
          }
        }
        .name-apparts {
          margin-bottom: 3%;
          color: var(--color-h);
        }
        .price {
          font-weight: bold;
          margin-bottom: 5%;
          p::after {
            content: url(/images/png/Vector\(1\).png);
            margin-left: 4%;
          }
        }
        .parametres {
          display: flex;
          justify-content: center;
          li {
            margin: 0 5%;
          }
        }
      }
    }
  }
  .btn-catalog {
	margin: 5% 0;
	a {
		padding: 15px 50px;
		border: 1px solid;
		background-color: var(--color-h);
		color: #fff;
	}
  }
}
