.slideMenu-right {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #fff;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
  
	a {
	  text-decoration: none;
	  color: #222222;
	  display: block;
	  transition: 0.3s;
	  border-bottom: 1px solid #444;
	  font-weight: 400;
	  font-size: 15px;
	  padding:15px 0;
	  &:hover {
	  color: #c4c0c0;
	  }
	}
	
	.text-hello {
		display: flex;
		justify-content: center;
		text-align: center;
		padding: 10%;
		line-height: 50px;
		font-size: 20px;
		color: #797979;
	}
	li {
		margin-left: 44px;
		
		
	}
	

	

	.close-btn {
	  position: absolute;
	  top: 0;
	  left: 25px;
	  font-size: 36px;
	  margin-right: 50px;
	  border: none;
	}
  }
  
  .open-btn {
	font-size: 30px;
	cursor: pointer;
	background-color: #ffffff;
	color: rgb(3, 3, 3);
	padding: 10px 15px;
	border: none;
  
	&:hover {
	  background-color: #444;
	}
  }