.about {
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    &:first-child {
      flex-direction: column;
      padding: 0 5%;
    }
    &:last-child {
      flex-direction: column;
      text-align: center;
      padding: 5%;
    }
    h2 {
      color: var(--color-h);
    }
    p {
      padding: 5% 0;
      line-height: 32px;
      font-size: 18px;
    }
    h5 {
      color: var(--color-h);
    }
  }
  .border-foto {
	position: relative;
	
	.border {
		border: 2px solid #4741418a;
		width: 450px;
		height: 365px;
		position: absolute;
		top: 15%;
		right: -16%;
	}
	.foto {
		position: relative;
		z-index: 5;
	}
  }
}
