.about {
  display: flex;
  align-items: center;
  justify-content: center;
  li {
    &:first-child {
      flex-direction: column;
      padding: 0 5%;
    }
    &:last-child {
      flex-direction: column;
      text-align: center;
      padding: 5%;
    }
    h2 {
      color: var(--color-h);
    }
    p {
      padding: 5% 0;
      line-height: 32px;
      font-size: 18px;
    }
    h5 {
      color: var(--color-h);
    }
  }
  .border-foto {
	position: relative;
	
	.border {
		border: 2px solid #4741418a;
		width: 450px;
		height: 365px;
		position: absolute;
		top: 15%;
		right: -16%;
	}
	.foto {
		position: relative;
		z-index: 5;
	}
  }
}

.contacts-info {
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 2px solid var(--color-h);
	li {
	  &:first-child {
		flex-direction: column;
		text-align: center;
		padding: 2% 5%;
	  }
	  &:last-child {
		
		flex-direction: column;
		padding: 0 5%;
	  }
	  h2 {
		color: var(--color-h);
	  }
	  p {
		padding: 2% 0;
		line-height: 32px;
		font-size: 18px;
		&:nth-child(2) {
			text-transform: uppercase;
		}
		
		&:nth-child(4) {
			color: var(--color-h);
			margin-bottom: 3%;
			text-transform: uppercase;
			
		}
	  }
	  a {
		margin: 15% 0;
		border: 2px solid #797979;
		padding: 2% 10%;
		color: var(--color-h);
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 22px;
		font-weight: 800;
	  }
	}
	.border-foto {
	  position: relative;
	  
	  .border {
		  border: 2px solid #4741418a;
		  width: 450px;
		  height: 365px;
		  position: absolute;
		  top: 10%;
		  right: -16%;
	  }
	  .foto {
		  position: relative;
		  z-index: 5;
	  }
	}
  }
