.header-top {
  height: 77px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .tell {
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        img {
          margin-right: 10px;
        }
      }
    }
  }
  .language {
    ul {
      display: flex;
      li {
        margin-right: 15px;
      }
    }
  }
}
.header-bottom {
	display: flex;
	justify-content: center;
	.header-img {
		position: absolute;
		opacity: 1;
		background-color: #000000d2;
		
		
	}
	.header-text {
		display: inline-block;
		text-align: center;
		position: absolute;
		left: 50%;
		top: 20%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
	h1 {
		color: #FFF;
		font-weight: 700;
		font-size: 96px;
		line-height: 128px;
	}
	p {
		color: #ffffff;
		font-weight: 700;
		font-size: 18px;
		line-height: 30px;
	}
	}
	
}